* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow: hidden;
}

.wrapper {
    width: 100%;
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar {
    height: 12%;
    display: flex;
    top: 0px;
    align-items: center;

}

nav ul li {
    list-style: none;
    display: inline;
    margin-left: 60px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.name,
.navbar,
p,
button,
.container {
    z-index: 999;
    position: relative;
}

.name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: bisque;
    font-variant: small-caps;
    font-size: 100px;
    padding-bottom: 20px;
}

p {
    color: #fff;
    font-size: 15px;
    line-height: 15px;
}

button {
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    margin-top: 60px;
}

.container {
    display: grid;
    width: auto;
    height: 500px;
    place-items: center;
    overflow: hidden;
    --planets: calc(var(--circleDiameter) / 5)
}

.hero-circle {
    position: 'relative';
    width: var(--circleDiameter);
    height: var(--circleDiameter);
}

.hero-rotate {
    position: relative;
    top: -7px;
    left: -7px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    animation: rotate 30s linear infinite;
}

.social img {
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg);
}

.social {
    position: absolute;
    width: var(--planets);
    height: var(--planets);
    border-radius: 100%;
    animation: maintain 30s linear infinite;
}

.social>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    animation: scale 1s linear infinite alternate;
}

.social:nth-child(1) {
    top: calc(-1 * var(--planets) / 2);
    left: calc(var(--circleDiameter)/ 2 - var(--planets) / 2)
}

.social:nth-child(2) {
    top: calc(var(--circleDiameter)/ 2 - var(--planets) / 2);
    right: calc(-1 * var(--planets) / 2);
}

.social:nth-child(3) {
    top: calc(var(--circleDiameter)/ 2 - var(--planets) / 2);
    left: calc(-1 * var(--planets) / 2);
}

.social:nth-child(4) {
    left: calc(var(--circleDiameter)/ 2 - var(--planets) / 2);
    bottom: calc(-1 * var(--planets) / 2);
}

/* Styling for the overlay screen */
#overlay-me {
    display: none;
    width: 70%;
    height: 70%;
    background: rgba(0, 0, 0, 0.8);
    /* 60% opacity black background */
    z-index: 999;
    color: white;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

#overlay-cv {
    display: none;
    width: 70%;
    height: 90%;
    background: rgba(0, 0, 0, 0.8);
    /* 60% opacity black background */
    z-index: 999;
    color: white;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

#overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Styling for the close button */
#close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    margin: 25px;
    /* Added margin */
    padding: 5px 10px;
    border: 2px solid #ff0000;
    /* Red border */
}

.paragraphs {
    all: initial;
    font-size: 20px;
}

.greet {
    all: initial;
    font-weight: bold;
    font-size: 30px;
}

@keyframes rotate {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes maintain {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes scale {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/* For desktop mode, display social icons horizontally */
@media (min-width: 768px) {
    .container {
        --circleDiameter: 300px;
    }

    nav {
        flex: 1;
        text-align: right;
    }

    .name {
        font-size: 60px;
    }

    .social img {
        height: 90px;
        width: 90px;
    }

    .row {
        display: flex;
        height: 88%;
        align-items: center;
    }

    .col {
        flex-basis: 50%;
    }

    .dropbtn {
        display: none;
    }

}

/* For mobile mode, display social icons vertically */
@media (max-width: 767px) {
    .container {
        --circleDiameter: 200px;
    }

    nav {
        text-align: center;
    }

    .name {
        font-size: 35px;
    }

    button {
        display: none;
    }

    .social {
        align-items: center;
        justify-content: center;
        display: flex;
        margin: auto;
    }

    .social img {
        height: 70px;
        width: 70px;
    }

    /* Links inside the dropdown */
    ul li {
        color: black;
        padding: 10px 16px;
        text-decoration: none;
        display: block;
    }

}