@media (min-width: 768px) {

    body {
        overflow: hidden;
    }

    .container {
        --circleDiameter: 300px;
    }

    nav {
        flex: 1;
        text-align: right;
    }


    .name {
        font-size: 60px;
    }

    .social img {
        height: 90px;
        width: 90px;
    }

    #topic1, #topic2 {
        display: none;
    }

    #resume {
        --b: 0.1em;
        /* the thickness of the line */
        --c: #986868;
        /* the color */

        color: #0000;
        padding-block: var(--b);
        background:
            linear-gradient(var(--c) 50%, #fff 0) 0% calc(100% - var(--_p, 0%))/100% 200%;
        -webkit-background-clip: text, padding-box;
        background-clip: text, padding-box;
        transition: .3s var(--_s, 0s) linear, background-size .3s calc(.3s - var(--_s, 0s));
    }

    #resume:hover {
        --_p: 100%;
        --_s: .3s;
    }

    button {
        width: 180px;
    }

    .row {
        display: flex;
        justify-content: space-between;
        height: 88%;
        align-items: center;
    }

    .col {
        flex-basis: 50%;
    }

    .dropbtn {
        display: none;
    }
    
    .paragraphs {
    font-size: 20px;
}

.greet {
    font-size: 30px;
}


.thizh {
    min-width: 150px;
    min-height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.thizh::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(170px + 12px);
    min-height: calc(30px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0, 255, 203, .64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.thizh:hover,
.thizh:focus {
    color: #313133;
    transform: translateY(-6px);
}

.thizh:hover::before,
.thizh:focus::before {
    opacity: 1;
}

.thizh::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.thizh:hover::after,
.thizh:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

    /* Styling for the overlay screen */
    #overlay-me {
        display: none;
        width: 70%;
        height: 70%;
        max-height: 90vh;
        /* Set a maximum height for better mobile experience */
        background: rgba(0, 0, 0, 0.8);
        z-index: 999;
        color: white;
        text-align: center;
        padding: 20px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #overlay-cv {
        display: none;
        width: 70%;
        height: 90%;
        background: rgba(0, 0, 0, 0.8);
        /* 60% opacity black background */
        z-index: 999;
        color: white;
        text-align: center;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
    }

    #overlay-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* Styling for the close button */
    #close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        margin: 25px;
        /* Added margin */
        padding: 5px 10px;
        border: 2px solid #ff0000;
        /* Red border */
    }

}
